<div class="container">
  <div class="ui-g">
      <div class="ui-g-12">
        <h1>Círculos</h1>
      </div>
      <div class="ui-g-12">
        <p-table [value]="circulos" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>

        <ng-template pTemplate="header">
          <tr>
            <th>Cor</th>
            <th colspan="3">Coordenadores</th>
            <th class="col-acoes-triplo-header"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-circulo>
          <tr>
            <td>{{circulo.nomeCor}}</td>
            <td>{{circulo.coordenadorUm}}</td>
            <td>{{circulo.coordenadorDois}}</td>
            <td>{{circulo.coordenadorTres}}</td>
            <td class="col-acoes-triplo-header">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top" [routerLink]="['/circulos', circulo.codigo]"></button>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(circulo)"></button>
              <button pButton icon="fa-address-book" pTooltip="Agenda" tooltipPosition="top"
                (click)="visualizarAgenda(circulo.codigo)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma círculo encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Circulo" routerLink="/circulos/novo"></a>
      <button pButton type="button" label="Agenda" class="ui-button-info"
        (click)="visualizarAgenda(null)" *ngIf="circulos.length"></button>
      <button pButton type="button" label="Camisas" class="ui-button-info"
        (click)="visualizarCamisas()" *ngIf="circulos.length"></button>
      <button pButton type="button" label="Aniversariantes" class="ui-button-info"
        (click)="visualizarAniversariantes()" *ngIf="circulos.length"></button>
      <button pButton type="button" label="Crachás" class="ui-button-info"
        (click)="visualizarCrachas()" *ngIf="circulos.length"></button>
      <button pButton type="button" label="Etiquetas" class="ui-button-info"
        (click)="visualizarEtiquetas()" *ngIf="circulos.length"></button>
    </div>
  </div>
</div>
