<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">

        <div class="ui-g-12">
          <h1>Compras</h1>
        </div>

        <div class="ui-g-6 ui-sm-12 ui-fluid">
            <label>Compra</label>
            <input pInputText type="text" ngModel name="descricao"
              #descricao="ngModel" [(ngModel)]="filtro.descricao">
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>
  </form>

      <div class="ui-g">
        <div class="ui-g-12">
          <p-table [value]="compras" [responsive]="true"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>

          <ng-template pTemplate="header">
            <tr>
              <th>Descrição</th>
              <th class="col-valor-header">Und</th>
              <th class="col-valor-header">Quantidade</th>
              <th class="col-valor-header">Valor</th>
              <th class="col-valor-header">Total</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-compra>
            <tr>
              <td>{{compra.descricao}}</td>
              <td class="col-valor">{{compra.nomeUnidade}}</td>
              <td class="col-valor">{{compra.quantidade | number:'1.2-2'}}</td>
              <td class="col-valor">{{compra.valor | number:'1.2-2'}}</td>
              <td class="col-valor">{{compra.quantidade * compra.valor | number:'1.2-2'}}</td>
              <td class="col-acoes">
                <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top" [routerLink]="['/compras', compra.codigo]"></button>
                <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(compra)"></button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">
                Nenhuma compra encontrada
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-12">
        <a pButton label="Nova Compra" routerLink="/compras/novo"></a>
        <button pButton type="button" label="Detalhado" class="ui-button-info"
          (click)="visualizarRelatorio()" *ngIf="compras.length"></button>
      </div>
    </div>
</div>
