<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">

        <div class="ui-g-12">
          <h1>Lançamentos</h1>
        </div>

        <div class="ui-g-6 ui-sm-12 ui-fluid">
            <label>Descrição</label>
            <input pInputText type="text" ngModel name="descricao"
              #descricao="ngModel" [(ngModel)]="filtro.descricao">
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>
  </form>

      <div class="ui-g">
        <div class="ui-g-12">
          <p-table [value]="lancamentos" [responsive]="true"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>

          <ng-template pTemplate="header">
            <tr>
              <th>Descrição</th>
              <th class="col-valor-header">Data</th>
              <th class="col-valor-header">Valor</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-lanc>
            <tr>
              <td>{{lanc.descricao}}</td>
              <td class="col-valor">{{lanc.data | date: 'dd/MM/yyyy'}}</td>
              <td class="col-valor" [style.color]="lanc.tipo === 'DESPESA' ? 'red' : 'blue' ">{{lanc.valor | number:'1.2-2'}}</td>
              <td class="col-acoes">
                <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top" [routerLink]="['/lancamentos', lanc.codigo]"></button>
                <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(lanc)"></button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">
                Nenhum Lançamento encontrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></a>
        <button pButton type="button" label="Relatório Detalhado" class="ui-button-info"
        (click)="visualizarRelatorio()" *ngIf="lancamentos.length"></button>
      </div>
    </div>
</div>
